@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

:root
{

  --murrey: #890449ff;
  --tyrian-purple: #580228ff;
  --hollywood-cerise: #F40A95ff;
  --violet-web-color: #E885D3ff;
  --shocking-pink: #FC34B9ff;


  /* violet sissy (darker) */
  --murrey: #8A0341ff;
  --eminence: #6F1E80ff;
  --red-violet: #CB1A9Eff;
  --rose-red: #C00150ff;
  --russian-violet: #4B0E51ff;


  /* neon goth dark but glows */
  --chocolate-cosmos: #370013ff;
  --hollywood-cerise: #DD12ABff;
  --black: #04010Aff;
  --sky-blue: #4FCEE4ff;
  --hollywood-cerise-2: #EC00A2ff;

  --color-1: #55CDFC;
  --color-2: #F7A8B8;
  /* details */
  --radius: 2rem;
  --padding-1: .3%;
  --margin-1: .3%;
  --padding-2: .5rem;
  --margin-2: .5rem;
}

html,
body
{
  background-color: rgb(22, 0, 18);
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1.5px;
  color: #e74c3c;
}

p
{
  color: var(--color-2);
  font-size: medium;
}

h1
{
  margin: 1%;
  padding: 1%;
  color: var(--color-1);
  font-family: 'Kanit', sans-serif;
}

h2
{
  color: var(--color-2);
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

h3
{
  color: var(--color-1);
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.category
{
  font-weight: bold;
  margin-top: 20px;
}

.website
{
  margin-left: 20px;
}

#timer
{
  color: var(--tyrian-purple);
}

#brandy-landing
{
  color: var(--rose-red);
}

.card-columns
{
  border: 3rm;
  border-color: var(--hollywood-cerise);
  border-radius: var(--radius);
  margin: var(--margin);
  padding: var(--padding);
}

.card-primary
{
  border: 3rm;
  border-color: var(--hollywood-cerise);
  border-radius: var(--radius);
  border-style: ridge;
  margin: var(--margin);
  padding: var(--padding);
}

.content
{
  max-width: 1080px;
  margin: auto;
  text-align: center;
  font: bold;
}

#neon-goth-bambi-2
{
  margin: 2%;
  padding: 2%;
  border: solid;
  border-width: 2px;
  border-color: rgb(55, 0, 38);
}

ul.no-bullets
{
  list-style-type: none;
  padding: var(--margin-1);
  margin: var(--padding-1);
}

li
{
  padding: var(--margin-1);
  margin: var(--padding-1);
  border: 4px;
  border-style: ridge;
  border-radius: var(--radius);
  border-color: rgb(0, 255, 255);
  background-color: rgb(208, 0, 191);
}

.cookie-banner
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cookie-banner button
{
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.decline-btn
{
  background: #e74c3c;
  color: white;
  border: none;
}

.protest-riot-regular
{
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#viewCount
{
  color: blueviolet;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1%;
  padding: 1%;
}

#banner
{
  text-align: center;
}

.left
{
  text-align: left;
  padding-left: 5%;
}

.center
{
  text-align: center;
}

.right
{
  text-align: right;
  padding-right: 5%;
}

.grid-container
{
  display: grid;
}