<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all-white-males-are-inferior</title>
</head>
<body>
    <h1>all-white-males-are-inferior</h1>
    <div id="neon-goth-bambi" class="content">
        <video controls="" width="1080p" preload="metadata">
            <source src="http://fickdichselber.com/index.php/apps/files/files/205?dir=/onrop" type="video/mp4">

        </video>
        <p>all-white-males-are-inferior</p>
    </div>
</body>
</html>