<br>
<div id="brandy-landing">
    <a href="https://brandynette.xxx/bn-sissy/brandy-landing.html">
        <img src="../brandynette.xxx-2560x640.jpg" alt="Hypno-Brainwash-Tube">
    </a>
</div>
<br><br>
<div class="grid-container">
    <div class="grid-item left">
        <span>Created by
            <a href="https://github.com/HarleyVader/">melkanea</a>
        </span>
    </div>
    <div class="grid-item center">
        <span></span>
        <a href="https://branynette.xxx">brandynette.xxx</a>
    </span> ®
    <span id="year"></span>
    <div class="grid-item right">
        <span>Powered by
            <a href="https://brandynette.xxx/vicetemple-affiliate-promotions/">Vicetemple</a>
        </span>
    </div>
</div>
<script>
    const d = new Date();
    let year = d.getFullYear();
    document.getElementById("year").innerHTML = year;
</script>
