<section id="main">
    <div class="container pt-30 categories-list">
     <div class="row">
      <div class="col col-12">
      <div class="card-columns">
          <div class="card-primary col-12 col-sm-3 col-lg-3 mr-auto p-2">
            <div class="card-header" id="videos">
            <i class="fa-solid fa-film"></i>
              <a title="Hypno Tubes" href="/videos">               
                <h1 class="card-title">Videos
                  <div class="pull-right">
                    <i class="fa fa-external-link"></i>
                  </div>
                </h1>
                </a>
              <div class="card-block">
                <ol><!--Ranking list -->
                  <li><!--listed item -->
                    <div class="icon">
                      <img
                        class="favicon"
                        alt=""
                        src="../ico/ngb.ico" 
                        width="15px"
                        height="15px"/>
                        <a class="link" href="/videos/neon-goth-bambi">Neon Goth Bambi 
                            <a title="Enon Goth Bambi" rel="noopener nofollow" target="_new" href="/videos/neon-goth-bambi">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                  </li><!--listed item END-->
                  <li><!--listed item -->
                    <div class="icon">
                      <img
                        class="favicon"
                        alt=""
                        src="../ico/ngb.ico" 
                        width="15px"
                        height="15px"/>
                        <a class="link" href="/videos/neon-goth-bambi-2">Neon Goth Bambi 2
                            <a title="Neon Goth Bambi 2" rel="noopener nofollow" target="_new" href="/videos/neon-goth-bambi-2">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                  </li><!--listed item END-->
                  <li><!--listed item -->
                    <div class="icon">
                      <img
                        class="favicon"
                        alt=""
                        src="../ico/hb.ico"
                        width="15px"
                        height="15px"
                        />
                        <a class="link" href="/videos/hucow-bambi">Hucow Bambi 
                            <a title="hucow-bambi" rel="noopener nofollow" target="_new" href="/videos/hucow-bambi">
                            <i class="fa fa-external-link"> </i>
                        </a>
                    </div>
                  </li><!--listed item END-->                  
                </ol><!--Ranking list END-->
              </div>
            </div>
          </div>
          <div class="card-primary col-12 col-sm-3 col-lg-3 mr-auto p-2">
            <div class="card-header" id="brandy-landing">
              <a title="Hypno Tubes" href="https://brandynette.xxx/bn-sissy/brandy-landing.html">
                <h1 class="card-title">Hypno Spirals
                  <div class="pull-right">
                    <i class="fa fa-external-link"> </i>
                  </div>
                </h1>
                </a>
              <div class="card-block">
                <ol><!--Ranking list -->
                  <li><!--listed item -->
                    <div class="icon">
                      <img
                        class="favicon"
                        alt=""
                        src="../ico/ngb.ico" 
                        width="15px"
                        height="15px"/>
                        <a class="link" href="/hypno-spiral">Hypno Spiral
                            <a title="HypnoTube" rel="noopener nofollow" target="_new" href="/hypno-spiral">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                  </li><!--listed item END-->
                  <li>Comming Soon</li>
                  <li>Your Stuff here?</li>
                </ol><!--Ranking list END-->
              </div>
            </div>
          </div>
      </div>
      </div>
     </div>
    </div>
</section>