<header>
    <nav>
        <ul>
            <li>
                <a href="https://brandynette.xxx/videos/neon-goth-bambi">NEON GOTH BAMBI</a>
            </li>
            <li>
                <a href="https://brandynette.xxx/videos/neon-goth-bambi-2">NEON GOTH BAMBI 2</a>
            </li>
            <li>
                <a href="https://brandynette.xxx/videos/hucow-bambi">HUCOW BAMBI</a>
            </li>
        </ul>
    </nav>
</header>
